.primary {
  background-color: royalblue;
  color: White;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.primary:hover {
  background-color: hsl(225, 77%, 51%);
}

.danger {
  background-color: red;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.danger:hover {
  background-color: crimson;
}
